<form class="form-horizontal" role="form" ng-submit="horariosVm.enviarFormulario()">
    <div id="fila-1" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h2>Gestión de horarios</h2>Asesorías UPC
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="fila-2" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Registrar horario</div>
                <div class="panel-body">
                    <div id="fila-2-1" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Materia:</label>
                                <div class="col-sm-8">
                                    <select id="materia" ng-model="horariosVm.horario.materia_id" ng-options="materia.id as materia.nombre for materia in horariosVm.materias" class="form-control" required>
                                        <option selected value>Seleccione una materia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Tutor:</label>
                                <div class="col-sm-8">
                                    <select id="tutor" ng-model="horariosVm.horario.tutor_id" ng-options="tutor.id as horariosVm.getNombreCompletoTutor(tutor) for tutor in horariosVm.tutores" class="form-control" required>
                                        <option selected value>Seleccione un tutor</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fila-2-2" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Día:</label>
                                <div class="col-sm-8">
                                    <select id="dia" ng-model="horariosVm.horario.dia" ng-options="dia as dia.capitalize() for dia in horariosVm.dias" class="form-control" required>
                                        <option selected value>Seleccione un día</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fila-2-3" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Hora de inicio:</label>
                                <div class="col-sm-8">
                                    <input id="hora_inicio" ng-model="horariosVm.horario.hora_inicio" type="text" class="timepicker form-control" name="time" required="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Hora de finalización:</label>
                                <div class="col-sm-8">
                                    <input id="hora_fin" ng-model="horariosVm.horario.hora_fin" type="text" class="timepicker form-control" required="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <center id="fila-2-4">
                        <div ng-if="!horariosVm.estaModificando">
                            <input type="submit" class="btn btn-success" value="Guardar" /> &emsp;
                            <input type="button" class="btn btn-danger" value="Limpiar" ng-click="horariosVm.limpiar()" />
                        </div>
                        <div ng-if="horariosVm.estaModificando">
                            <input type="submit" class="btn btn-info" value="Modificar" /> &emsp;
                            <input type="button" class="btn btn-danger" value="Cancelar" ng-click="horariosVm.limpiar();horariosVm.estaModificando = false" />
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="fila-3" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Horarios de asesorías
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>#</th>
                                <th>Materia</th>
                                <th>Tutor</th>
                                <th>Día</th>
                                <th>Hora de inicio</th>
                                <th>Hora de finalización</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="horario in horariosVm.horarios track by $index">
                                <td>{{$index + 1}}</td>
                                <td>{{horario.materia.nombre}}</td>
                                <td>{{horariosVm.getNombreCompletoTutor(horario.tutor)}}</td>
                                <td>{{horario.dia.capitalize()}}</td>
                                <td>{{horario.hora_inicio}}</td>
                                <td>{{horario.hora_fin}}</td>
                                <td><a ng-click="horariosVm.activarModificar(horario)" href="javascript:;">Modificar</a></td>
                                <td><a ng-click="horariosVm.eliminar(horario)" href="javascript:;">Eliminar</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>