<form class="form-horizontal" role="form">
    <div id="fila-1" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h2>Calificar tutores</h2>Asesorías UPC
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="fila-2" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Filtrar tutor</div>
                <div class="panel-body">
                    <div id="fila-2-1" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Primer nombre:</label>
                                <div class="col-sm-8">
                                    <input id="primer_nombre" class="form-control" type="text" ng-model="calificarVm.tutor.primer_nombre" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Segundo nombre:</label>
                                <div class="col-sm-8">
                                    <input id="segundo_nombre" class="form-control" type="text" ng-model="calificarVm.tutor.segundo_nombre">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fila-2-2" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Primer apellido:</label>
                                <div class="col-sm-8">
                                    <input id="primer_apellido" class="form-control" type="text" ng-model="calificarVm.tutor.primer_apellido" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Segundo apellido:</label>
                                <div class="col-sm-8">
                                    <input id="segundo_apellido" class="form-control" type="text" ng-model="calificarVm.tutor.segundo_apellido">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fila-2-3" class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Programa:</label>
                                <div class="col-sm-8">
                                    <select name="programa_id" id="programa_id" class="form-control" ng-model="calificarVm.tutor.programa_id" ng-options="programa.id as programa.nombre for programa in calificarVm.programas" required>
                                        <option selected value>Seleccione un programa</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center id="fila-2-4">
                        <input type="button" class="btn btn-danger" value="Limpiar" ng-click="calificarVm.limpiar()" />
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="fila-3" class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tutores registrados
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>#</th>
                                <th>Primer nombre</th>
                                <th>Segundo nombre</th>
                                <th>Primer apellido</th>
                                <th>Segundo apellido</th>
                                <th>Programa</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="tutor in calificarVm.tutores | filter:calificarVm.tutor track by $index" ng-init="tutor.estaCalificado = !!tutor.calificacion">
                                <td>{{$index + 1}}</td>
                                <td>{{tutor.primer_nombre}}</td>
                                <td>{{tutor.segundo_nombre}}</td>
                                <td>{{tutor.primer_apellido}}</td>
                                <td>{{tutor.segundo_apellido}}</td>
                                <td>{{tutor.programa.nombre}}</td>
                                <td>
                                    <center>
                                        <input type="button" name="btn-calificar{{$index+1}}" id="btn-calificar{{$index+1}}" value="Calificar" class="btn btn-primary btn-sm" ng-click="calificarVm.calificar(tutor)" />
                                    </center>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form class="form-horizontal" ng-submit="calificarVm.guardar()">
    <div id="modal-calificar" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{calificarVm.getNombreCompletoUser(calificarVm.tutorSeleccionado)}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nota:</label>
                                <div class="col-sm-9">
                                    <select name="nota-tutor" id="nota-tutor" class="form-control" ng-model="calificarVm.tutorSeleccionado.calificacion.nota" ng-options="nota for nota in calificarVm.notas" required>
                                        <option selected value>Escoja una nota</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="form-group">
                                <label for="observaciones" class="col-sm-3 control-label">Observaciones:</label>
                                <div class="col-sm-9">
                                    <textarea id="observaciones" class="form-control" rows="3" maxlength="255" ng-model="calificarVm.tutorSeleccionado.calificacion.observaciones"></textarea>
                                    <span class="help-block">
                                        Tu calificación es anónima.
                                        <br>
                                        La calificación será enviada después de hacer clic en el botón 
                                        <span ng-if="!calificarVm.tutorSeleccionado.estaCalificado"> Guardar.</span>
                                    <span ng-if="calificarVm.tutorSeleccionado.estaCalificado"> Actualizar.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" name="btn-cancelar-tutor" id="btn-cancelar-tutor" class="btn btn-default" data-dismiss="modal" value="Cancelar" />
                    <input ng-if="!calificarVm.tutorSeleccionado.estaCalificado" type="submit" name="btn-calificar-tutor" id="btn-calificar-tutor" class="btn btn-primary" value="Guardar" />
                    <input ng-if="calificarVm.tutorSeleccionado.estaCalificado" type="submit" name="btn-actualizar-calificacion" id="-actualizar-calificacion" class="btn btn-info" value="Actualizar" />
                </div>
            </div>
        </div>
    </div>
</form>